.bodydesign{
    background-color: #FECD45;
    font-family: "Montserrat";
}

nav{
    height: 100px;
    width: 100%;
    background: transparent;    
    background-color: #ffffff00;
    align-content: center;
    border-radius: 5px;
}
nav.img.logodesign{
    width: 90px;
    height: auto;
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 10px;
    padding-bottom: 50px;
}
nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: #000000;
    font-size: 18px;
    border: 1px solid transparent;
    text-decoration-line: none;
    padding: 7px 10px;
    font-weight: bold;
}
a.active,a:hover{
    color: #af8c8c;
    transition: .5s;
}
.contactbg{
    background-color: #2568FB;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

.montserrat-contactbg{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}